#my-web-guard-popup {
    width: 400px;
    height: 600px;
}

.input-value{
    width: 50px;
}

#submit-origin-value {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position: absolute;
    transform: translateX(100%);
  }
